<!DOCTYPE html>
<html>
<head>
<title>
Movie-Meet
</title>
<style>
body {
  font-family:'Lucida Console', monospace
}
</style>
<body>
<h1>Movie-Meet</h1>

<p style="background-color: rgb(255, 239, 204);">
<em>Miss going to the theatres?, now worries, here's a way in which you can compensate for the loss<br/>
<br/>
Movies are always fun when you watch 'em with your loved ones.</em>
</p>

<h3>Our mission:</h3>
"To help ease movie watching while y'all are locked up in your houses due to this ongoing Covid shit.
<h3>Our motto:</h3>
"Cinema is the most beautiful fraud in the world. Let's all be fraudsters"

<h3>Our slogan:</h3>
"You're most close to someone when you're far away from them.

<br/><br/><hr/>

<h4>What do we do?</h4>

NOTHING.<br/>
I'm going to show you the most unique way in which you can watch movies.<br/>
So it's practically nothing, but yet something I found useful.<br/>


<h4>How?</h4>

Using <b>Google Meet.</b> Yes. The boring software which your boss uses to irritate the shit out of you early morning, will be the reason for your successful movie watching spree.<br/>
<br/><br/>
All you gotta do is go start a <b>New meeting.</b><br/>



Then, share your screen by clicking on <b>Present Now.</b> <br/>



It gives you options, instead of sharing the whole screen, just share your browser tab (which is going to run your movie).<br />



Then <b>tick off the Share Audio</b> at the bottom left corner (this is after you've selected the window you want to share)<br />

What are you waiting for? go ask her out! and click here <a href="https://meet.google.com/">MEET</a>.
<h4>Things to Remember:</h4>
<ol>
	<li>Make popcorn</li>
	<li> Chat with her in the chat box </li>
	<li> Make her feel comfortable</li>
<br/>

<h4>Sites(for my broke friends who can't afford Netflix)</h4>
<ol>
	<li>
		<a href="https://www1.123moviesla.org">123 movies </a></li>
	<li>
		<a href="https://yts.mx/"> Download Movies from here</a></li>
</ol>

<br/>
<h4>Contact:</h4>
<p>anivedh555@protonmail.com</p>
<br/><br/>

<em><p style="background-color: rgb(255,239,204)">
	<b>Will upload my Movie recommendations soon!</b></p></em>


</body>
